body {
    height: 90vh;
    width: 300%;
}

.game-content {
    display: flex;
    justify-content: space-around;
    /* overflow: hidden; */
    transition: 0.5s ease-in-out;
    position: relative;
    height: 100%;
    width: 100%;
}

.auth, .spinner, .game {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.nodisplay {
    display: none;
}

.slight-padding {
    padding: 5px;
}
